<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mxin.jdweb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JDWeb"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.web.WebActivity"
            android:exported="false"
            >
        </activity>
        <activity android:name=".ui.web.WebActivity2"
            android:exported="true"
            >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="googlechrome"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.web.TextActivity"
            android:exported="false"/>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ql.me.OpenWebActivity"
            android:exported="false"/>

        <activity android:name=".ui.ql.QLLoginActivity"
            android:exported="false"/>
        <activity android:name=".ui.ql.QlHomeActivity"
            android:exported="false"/>
        <activity android:name=".ui.ql.QlServerSettingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false"/>
        <activity android:name=".ui.ql.EnvsDetailActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false"/>

        <activity android:name=".ui.setting.SettingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false"/>

        <activity android:name=".ui.setting.WebSettingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false"/>

        <activity android:name=".ui.setting.GitEESettingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false"/>
    </application>

</manifest>